<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.upshi.sparkpagerank.dao.PageRankResultMapper">
    <resultMap id="BaseResultMap" type="cn.upshi.sparkpagerank.model.PageRankResult">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="url_id" property="urlId" jdbcType="INTEGER"/>
        <result column="rank" property="rank" jdbcType="DOUBLE"/>
        <collection property="crawlUrls"
                    column="url_id"
                    ofType="cn.upshi.sparkpagerank.model.CrawlUrl"
                    select="cn.upshi.sparkpagerank.dao.CrawlUrlDao.selectByPrimaryKey"/>
    </resultMap>

  <sql id="Base_Column_List">
    id, task_id, url_id, rank
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from page_rank_result
        where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from page_rank_result
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.upshi.sparkpagerank.model.PageRankResult">
    insert into page_rank_result (id, task_id, url_id, 
      rank)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{urlId,jdbcType=INTEGER}, 
      #{rank,jdbcType=DOUBLE})
  </insert>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into page_rank_result (id, task_id, url_id,rank)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{id,jdbcType=INTEGER},
             #{taskId,jdbcType=INTEGER},
             #{urlId,jdbcType=INTEGER},
             #{rank,jdbcType=DOUBLE})
        </foreach>
  </insert>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.upshi.sparkpagerank.model.PageRankResult">
        insert into page_rank_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="urlId != null">
                url_id,
            </if>
            <if test="rank != null">
                rank,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=INTEGER},
            </if>
            <if test="urlId != null">
                #{urlId,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=DOUBLE},
            </if>
        </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.upshi.sparkpagerank.model.PageRankResult">
        update page_rank_result
        <set>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=INTEGER},
            </if>
            <if test="urlId != null">
                url_id = #{urlId,jdbcType=INTEGER},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.upshi.sparkpagerank.model.PageRankResult">
    update page_rank_result
    set task_id = #{taskId,jdbcType=INTEGER},
      url_id = #{urlId,jdbcType=INTEGER},
      rank = #{rank,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>