<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.upshi.sparkpagerank.dao.PageLinkDao">
    <resultMap id="BaseResultMap" type="cn.upshi.sparkpagerank.model.PageLink">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="from_id" property="fromId" jdbcType="INTEGER"/>
        <result column="to_id" property="toId" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
    </resultMap>

  <sql id="Base_Column_List">
    id, from_id, to_id, task_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from page_link
        where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="exportLinkFile">
        select DISTINCT from_id, to_id
        into OUTFILE #{fileName,jdbcType=VARCHAR}
        FIELDS TERMINATED BY ' ' from page_link where task_id = #{taskId,jdbcType=INTEGER};
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from page_link
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="truncate">
      truncate table page_link
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.upshi.sparkpagerank.model.PageLink">
    insert into page_link (id, from_id, to_id, task_id
      )
    values (#{id,jdbcType=INTEGER}, #{fromId,jdbcType=INTEGER}, #{toId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.upshi.sparkpagerank.model.PageLink">
        update page_link
        <set>
            <if test="fromId != null">
                from_id = #{fromId,jdbcType=INTEGER},
            </if>
            <if test="toId != null">
                to_id = #{toId,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.upshi.sparkpagerank.model.PageLink">
    update page_link
    set from_id = #{fromId,jdbcType=INTEGER},
      to_id = #{toId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>